body {
    padding: 0;
    margin: 0;
    font-size: sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    width: 100%;
    float: left;
    font-family: sans-serif;
    background: #e0f2f1;
    border-top: 5px solid #009688;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1111;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}

.wrapper-body {
  width: 100%;
  float: left;
  top: 155px;
  position: relative;
  z-index: 111;
  background: orange;
  overflow-y: auto;
  height: calc(100vh - 213px);
}

.header-top {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #E0F2F1;
    padding: 0 5px;
    align-items: center;
}

.search input[type=text] {
    width: 208px;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: white;
    background-image: url(../images/searchicon.png
    );
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.select-box {
  color: #777;
  select {
    padding: 10px;
    outline: none;
    border: none;
  }
}

.table {
  p {
    font-size: 25px;
  }
  width: 100%;
   ul {
    display: block;
    width: 100%;
    padding: 0;
    background: red;
    .box {
        width: 25%;
        float: left;
        display: block;
        background: aqua;
        margin: 10px 0;
        .box-title {
          width: 100%;
          float: left;
          a {
            display: block;
            width: 100%;
            background: yellow;
            text-decoration: none;
            padding: 5px;
          }
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .info {
          float: left;
          width: 100%;
          background: indianred;
          padding: 5px;
          p {
            font-size: 15px;
            line-height: 150%;
            padding: 5px;
          }
        }
    }
  }
}
.list {
  ul {
    display: block;
    width: 100%;
    padding: 0;
    .box {
        width: 100%;
        float: left;
        display: block;
        background: aqua;
        margin: 10px 0;
        .box-title {
          width: 25%;
          float: left;
          a {
            display: block;
            width: 100%;
            background: yellow;
            text-decoration: none;
            padding: 5px;
          }
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .info {
          float: left;
          width: 75%;
          background: indianred;
          padding: 5px;
          p {
            margin: 0;
          }
        }
    }
  }
}

footer.footer {
    width: 100%;
    float: left;
    position: relative;
    z-index: 9999;
    text-align: center;
    padding: 20px 0;
    background: blueviolet;
    position: fixed;
    bottom: 0;
}
